/* Fondo de pantalla */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: url('../Images/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

h1 {
    transform: scale(1.05);
    color :black;
}

/* Tablero del juego */
.tablero {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
}

/* Cartas */
.carta {
    width: 100px;
    height: 100px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    color: transparent; /* Oculta el número al inicio */
    border: 1px solid white;
}

.descubierta {
    background-color: white;
    color: black !important; /* Asegura que los números sean visibles */
    border: 2px solid white;
}

/* Contador de vidas */
.vidas {
    margin: 20px;
    font-size: 24px;
}

.corazon {
    font-size: 24px;
    color: red;
    margin: 5px;
}

.gris {
    color: gray;
}

/* Botón de reinicio */
.btn-reiniciar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #ff5733;
    color: white;
    border-radius: 5px;
}

    .btn-reiniciar:hover {
        background-color: #c70039;
    }
